.todos .filters .active,
.todos .filters span:hover {
  border-bottom: 2px solid red;
}

.todos .filters span {
  cursor: pointer;
}
.todos .todo-list .todo-item.completed span {
  text-decoration: line-through;
  color: gray;
}
